// import mixins and variables
@import '../../common/assets/_common.scss';

.upf-control {
    &__gallery {
        margin: $backend-distance--small -#{$backend-distance--small} $backend-distance--small 0;

        @include upfClearfix();

        li {
            display: block;
            float: left;
            margin: $backend-distance--small $backend-distance--small 0 0;
            position: relative;
            width: calc((100% / 3) - #{$backend-distance--small});

            &:hover {
                .upf-control__image {
                    opacity: 1;
                }

                .upf-control__replace,
                .upf-control__remove {
                    visibility: visible;
                }
            }
        }

        &:hover {
            .upf-control__image {
                opacity: 0.8;
            }
        }
    }

    &__add {
        margin: $backend-distance--small 0 0 0 !important; // to override default wp button margin
    }

    &__image {
        cursor: move;
        display: block;
        max-width: 100%;
        position: relative;
    }

    &__replace,
    &__remove {
        background-color: currentColor;
        border: 1px solid #ffffff;
        border-radius: 50%;
        box-sizing: border-box;
        height: $backend-icon;
        position: absolute;
        text-decoration: none;
        top: $backend-icon-offset;
        visibility: hidden;
        width: $backend-icon;

        .dashicons {
            color: #ffffff;
            font-size: 13px;
            height: $backend-icon-inner;
            line-height: $backend-icon-inner;
            width: $backend-icon-inner;
        }
    }

    &__replace {
        right: $backend-icon + ($backend-icon-offset * 2);
    }

    &__remove {
        right: $backend-icon-offset;
    }
}