// import mixins and variables
@import '../../common/assets/_common.scss';

.bpf-content {
    &--format-link {
        @include bpfBackgroundStyle();

        .bpf-content {
            &__grid {
                padding: $frontend-link-quote-distance $frontend-link-quote-distance $frontend-link-quote-distance calc(#{$frontend-icon-distance} * 2 + #{$frontend-icon-size});
            }

            &__icon {
                &:after {
                    @include bpfIcon('\f103', $frontend-icon-size);
                }
            }
        }
    }

    &__permalink {
        &:hover {
            ~ .bpf-content__title {
                color: $frontend-color--medium !important;
            }
        }
    }

    &__link {
        color: inherit !important;
        transition: $frontend-color-transition;

        &:hover {
            color: $frontend-color--medium !important;
        }
    }

    &__title {
        @include bpfResetText();

        transition: $frontend-color-transition;
    }
}