// import mixins and variables
@import '../../common/assets/_common.scss';

.upf-content {
    &--format-link {
        @include upfBackgroundStyle();

        .upf-content {
            &__grid {
                padding: $frontend-link-quote-distance $frontend-link-quote-distance $frontend-link-quote-distance calc(#{$frontend-icon-distance} * 2 + #{$frontend-icon-size});
            }

            &__icon {
                &:after {
                    @include upfIcon('\f103', $frontend-icon-size);
                }
            }
        }
    }

    &__permalink {
        &:hover {
            ~ .upf-content__title {
                color: $frontend-color--medium !important;
            }
        }
    }

    &__link {
        color: inherit !important;
        transition: $frontend-color-transition;

        &:hover {
            color: $frontend-color--medium !important;
        }
    }

    &__title {
        @include upfResetText();

        transition: $frontend-color-transition;
    }
}