// import mixins and variables
@import '../../common/assets/_common.scss';

.upf-content {
    &--format-link {
        @include upfBackgroundStyle();
    }

    &__link {
        cursor: pointer;
        right: 0;
        top: 0;
        text-align: center;

        @include upfPositionAbsolute($frontend-icon-size, $frontend-icon-size);

        .single & {
            width: 100%;
            height: 100%;
        }

        &:after {
            @include upfDisplayBlock($frontend-icon-size);
            @include upfIcon('\f103', $frontend-icon-size);
        }
    }

    &__title {
        padding: 1.5em;
    }
}