{"version":3,"sources":["components/audio/assets/audio-frontend.scss","components/common/assets/_common.scss","components/audio/assets/audio-frontend.css"],"names":[],"mappings":"AAIK;ECuCD,cAAc;EACd,WAF8B;ACvClC;;AFCK;ECuCD,cAAc;EACd,WAF8B;AClClC","file":"audio-frontend.css","sourcesContent":["// import mixins and variables\r\n@import '../../common/assets/common.scss';\r\n\r\n.bpf-content {\r\n    &--format-audio {\r\n        audio {\r\n            @include bpfDisplayBlock();\r\n        }\r\n\r\n        .bpf-content {\r\n            &__image {\r\n                @include bpfDisplayBlock();\r\n            }\r\n        }\r\n    }\r\n}","// backend variables\r\n$backend-transition-timing: 0.15s;\r\n$backend-transition-easing: ease-in-out;\r\n$backend-opacity-transition: opacity $backend-transition-timing $backend-transition-easing;\r\n\r\n$backend-distance: 12px;\r\n$backend-distance--large: $backend-distance;\r\n$backend-distance--small: $backend-distance--large / 2;\r\n\r\n$backend-color--light: #ffffff;\r\n\r\n$backend-icon: 20px;\r\n$backend-icon-inner: $backend-icon - 2;\r\n$backend-icon-offset: 3px;\r\n\r\n// frontend variables\r\n$frontend-transition-timing: 0.3s;\r\n$frontend-transition-easing: ease-in-out;\r\n$frontend-opacity-transition: opacity 1s $frontend-transition-easing; // hardcode timing, for gallery transitions only\r\n$frontend-color-transition: color $frontend-transition-timing $frontend-transition-easing;\r\n$frontend-background-color-transition: background-color $frontend-transition-timing $frontend-transition-easing;\r\n\r\n$frontend-color--light: #ffffff;\r\n$frontend-color--medium: #808080;\r\n$frontend-color--dark: #000000;\r\n\r\n$frontend-arrow-size: 40px;\r\n$frontend-bullet-size: 10px;\r\n$frontend-icon-size: 40px;\r\n$frontend-icon-distance: 1em;\r\n\r\n$frontend-link-quote-distance: 2.5em;\r\n\r\n// mixins\r\n@mixin bpfClearfix() {\r\n    &:after {\r\n        clear: both;\r\n        content: '';\r\n        display: table;\r\n    }\r\n}\r\n\r\n@mixin bpfDisplayBlock($width:100%,$important:null) {\r\n    display: block $important;\r\n    width: $width;\r\n}\r\n\r\n@mixin bpfPositionAbsolute($height,$width) {\r\n    height: $height;\r\n    position: absolute;\r\n    width: $width;\r\n}\r\n\r\n@mixin bpfBackgroundStyle() {\r\n    background-color: rgba($frontend-color--medium, 0.3);\r\n    background-position: center;\r\n    background-size: cover;\r\n}\r\n\r\n@mixin bpfIcon($content,$size) {\r\n    content: $content;\r\n    font-family: dashicons;\r\n    font-size: $size;\r\n    font-weight: 400;\r\n    height: $size;\r\n    line-height: 100%;\r\n    right: 0;\r\n    top: 0;\r\n    width: $size;\r\n\r\n    @include bpfPositionAbsolute($size, $size);\r\n}\r\n\r\n@mixin bpfResetText() {\r\n    border: 0 !important;\r\n    color: inherit !important;\r\n    margin: 0 !important;\r\n    padding: 0 !important;\r\n}\r\n\r\n@mixin bpfClearForeignContent() {\r\n    .bpf-content {\r\n        * {\r\n            &:not([class*=\"bpf-content\"]) {\r\n                display: none;\r\n            }\r\n        }\r\n    }\r\n}",".bpf-content--format-audio audio {\n  display: block;\n  width: 100%;\n}\n\n.bpf-content--format-audio .bpf-content__image {\n  display: block;\n  width: 100%;\n}\n"]}
.bpf-content--format-audio audio {
  display: block;
  width: 100%;
}

.bpf-content--format-audio .bpf-content__image {
  display: block;
  width: 100%;
}

/*# sourceMappingURL=audio-frontend.css.map */

{"version":3,"sources":["components/common/assets/common-frontend.scss","components/common/assets/common-frontend.css","components/common/assets/_common.scss"],"names":[],"mappings":"AAGA;EAEQ,aAAa;ACHrB;;ADOA;EE2EgB,aAAa;AD9E7B;;ADOA;EACI,kBAAkB;ACJtB;;ADMI;EACI,cEKuB;ADR/B;;ADMI;EACI,cEGsB;ADN9B;;ADLA;EE8BI,yBFlB6C;EEmB7C,WFnBiC;EAE7B,SAAS;EACT,yBEJsB;ADC9B;;ADMI;EACI,cAAc;EACd,eAAe;EACf,kBAAkB;ACH1B;;ADMI;EEWA,YFVqC;EEWrC,kBAAkB;EAClB,WFZ2C;EAEvC,OAAO;EACP,MAAM;EACN,WAAW;ACFnB;;ADKI;EE6BA,oBAAoB;EACpB,yBAAyB;EACzB,oBAAoB;EACpB,qBAAqB;AD9BzB;;ADEI;EEDA,YApBqB;EAqBrB,kBAAkB;EAClB,WAtBqB;EFwBjB,SEvBoB;EFwBpB,kBAAkB;EAClB,UEvB4B;EFwB5B,WAAW;ACEnB;;ADRK;EEND,cAAc;EACd,WAhBqB;ADkCzB","file":"common-frontend.css","sourcesContent":["// import mixins and variables\r\n@import '../../common/assets/common.scss';\r\n\r\n.bpf-hide-default-title {\r\n    .entry-title {\r\n        display: none;\r\n    }\r\n}\r\n\r\nbody {\r\n    @include bpfClearForeignContent();\r\n}\r\n\r\n.bpf-content {\r\n    position: relative;\r\n\r\n    &--light {\r\n        color: $frontend-color--light;\r\n    }\r\n\r\n    &--dark {\r\n        color: $frontend-color--dark;\r\n    }\r\n\r\n    iframe {\r\n        @include bpfDisplayBlock(100%, !important);\r\n\r\n        margin: 0;\r\n        background-color: $frontend-color--dark;\r\n    }\r\n\r\n    &__grid {\r\n        margin: 0 auto;\r\n        max-width: 100%;\r\n        position: relative;\r\n    }\r\n\r\n    &__permalink {\r\n        @include bpfPositionAbsolute(100%, 100%);\r\n\r\n        left: 0;\r\n        top: 0;\r\n        z-index: 10;\r\n    }\r\n\r\n    &__title {\r\n        @include bpfResetText();\r\n    }\r\n\r\n    &__icon {\r\n        @include bpfPositionAbsolute($frontend-icon-size, $frontend-icon-size);\r\n\r\n        left: $frontend-icon-distance;\r\n        text-align: center;\r\n        top: $frontend-link-quote-distance;\r\n        z-index: 20;\r\n\r\n        &:after {\r\n            @include bpfDisplayBlock($frontend-icon-size);\r\n        }\r\n    }\r\n}",".bpf-hide-default-title .entry-title {\n  display: none;\n}\n\nbody .bpf-content *:not([class*=\"bpf-content\"]) {\n  display: none;\n}\n\n.bpf-content {\n  position: relative;\n}\n\n.bpf-content--light {\n  color: #ffffff;\n}\n\n.bpf-content--dark {\n  color: #000000;\n}\n\n.bpf-content iframe {\n  display: block !important;\n  width: 100%;\n  margin: 0;\n  background-color: #000000;\n}\n\n.bpf-content__grid {\n  margin: 0 auto;\n  max-width: 100%;\n  position: relative;\n}\n\n.bpf-content__permalink {\n  height: 100%;\n  position: absolute;\n  width: 100%;\n  left: 0;\n  top: 0;\n  z-index: 10;\n}\n\n.bpf-content__title {\n  border: 0 !important;\n  color: inherit !important;\n  margin: 0 !important;\n  padding: 0 !important;\n}\n\n.bpf-content__icon {\n  height: 40px;\n  position: absolute;\n  width: 40px;\n  left: 1em;\n  text-align: center;\n  top: 2.5em;\n  z-index: 20;\n}\n\n.bpf-content__icon:after {\n  display: block;\n  width: 40px;\n}\n","// backend variables\r\n$backend-transition-timing: 0.15s;\r\n$backend-transition-easing: ease-in-out;\r\n$backend-opacity-transition: opacity $backend-transition-timing $backend-transition-easing;\r\n\r\n$backend-distance: 12px;\r\n$backend-distance--large: $backend-distance;\r\n$backend-distance--small: $backend-distance--large / 2;\r\n\r\n$backend-color--light: #ffffff;\r\n\r\n$backend-icon: 20px;\r\n$backend-icon-inner: $backend-icon - 2;\r\n$backend-icon-offset: 3px;\r\n\r\n// frontend variables\r\n$frontend-transition-timing: 0.3s;\r\n$frontend-transition-easing: ease-in-out;\r\n$frontend-opacity-transition: opacity 1s $frontend-transition-easing; // hardcode timing, for gallery transitions only\r\n$frontend-color-transition: color $frontend-transition-timing $frontend-transition-easing;\r\n$frontend-background-color-transition: background-color $frontend-transition-timing $frontend-transition-easing;\r\n\r\n$frontend-color--light: #ffffff;\r\n$frontend-color--medium: #808080;\r\n$frontend-color--dark: #000000;\r\n\r\n$frontend-arrow-size: 40px;\r\n$frontend-bullet-size: 10px;\r\n$frontend-icon-size: 40px;\r\n$frontend-icon-distance: 1em;\r\n\r\n$frontend-link-quote-distance: 2.5em;\r\n\r\n// mixins\r\n@mixin bpfClearfix() {\r\n    &:after {\r\n        clear: both;\r\n        content: '';\r\n        display: table;\r\n    }\r\n}\r\n\r\n@mixin bpfDisplayBlock($width:100%,$important:null) {\r\n    display: block $important;\r\n    width: $width;\r\n}\r\n\r\n@mixin bpfPositionAbsolute($height,$width) {\r\n    height: $height;\r\n    position: absolute;\r\n    width: $width;\r\n}\r\n\r\n@mixin bpfBackgroundStyle() {\r\n    background-color: rgba($frontend-color--medium, 0.3);\r\n    background-position: center;\r\n    background-size: cover;\r\n}\r\n\r\n@mixin bpfIcon($content,$size) {\r\n    content: $content;\r\n    font-family: dashicons;\r\n    font-size: $size;\r\n    font-weight: 400;\r\n    height: $size;\r\n    line-height: 100%;\r\n    right: 0;\r\n    top: 0;\r\n    width: $size;\r\n\r\n    @include bpfPositionAbsolute($size, $size);\r\n}\r\n\r\n@mixin bpfResetText() {\r\n    border: 0 !important;\r\n    color: inherit !important;\r\n    margin: 0 !important;\r\n    padding: 0 !important;\r\n}\r\n\r\n@mixin bpfClearForeignContent() {\r\n    .bpf-content {\r\n        * {\r\n            &:not([class*=\"bpf-content\"]) {\r\n                display: none;\r\n            }\r\n        }\r\n    }\r\n}"]}
.bpf-hide-default-title .entry-title {
  display: none;
}

body .bpf-content *:not([class*="bpf-content"]) {
  display: none;
}

.bpf-content {
  position: relative;
}

.bpf-content--light {
  color: #ffffff;
}

.bpf-content--dark {
  color: #000000;
}

.bpf-content iframe {
  display: block !important;
  width: 100%;
  margin: 0;
  background-color: #000000;
}

.bpf-content__grid {
  margin: 0 auto;
  max-width: 100%;
  position: relative;
}

.bpf-content__permalink {
  height: 100%;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10;
}

.bpf-content__title {
  border: 0 !important;
  color: inherit !important;
  margin: 0 !important;
  padding: 0 !important;
}

.bpf-content__icon {
  height: 40px;
  position: absolute;
  width: 40px;
  left: 1em;
  text-align: center;
  top: 2.5em;
  z-index: 20;
}

.bpf-content__icon:after {
  display: block;
  width: 40px;
}

/*# sourceMappingURL=common-frontend.css.map */

{"version":3,"sources":["components/gallery/assets/gallery-frontend.css","components/gallery/assets/gallery-frontend.scss","components/common/assets/_common.scss"],"names":[],"mappings":"AAAA,gBAAgB;ACIZ;EACI,kBAAkB;ADF1B;;ACMQ;EACI,UAAU;EACV,kCCM4B;EA0BpC,cAAc;EACd,WAF8B;AFhClC;;ACDS;EAOO,OAAO;EACP,oBAAiB;EAAjB,iBAAiB;EACjB,MAAM;EC8BlB,YD5B6C;EC6B7C,kBAAkB;EAClB,WD9BmD;ADDvD;;ACVS;EAeO,UAAU;ADD1B;;ACQQ;EAEI,eAAe;EACf,eCRc;EDSd,kBAAkB;EAClB,QAAQ;EACR,2BAA2B;EAC3B,kCCrB4B;EA+BpC,YAtBsB;EAuBtB,kBAAkB;EAClB,WAxBsB;AFS1B;;ACJS;EAYO,cCpBgB;AFgBhC;;ACQQ;EACI,OAAO;ADLnB;;ACIS;ECaL,YDT6B;ECU7B,sBAAsB;EACtB,eApCsB;EAqCtB,gBAAgB;EAChB,YAtCsB;EAuCtB,iBAAiB;EACjB,QAAQ;EACR,MAAM;EACN,WA1CsB;EAsBtB,YAtBsB;EAuBtB,kBAAkB;EAClB,WAxBsB;AFgC1B;;ACHQ;EACI,QAAQ;ADMpB;;ACPS;ECKL,YDD6B;ECE7B,sBAAsB;EACtB,eApCsB;EAqCtB,gBAAgB;EAChB,YAtCsB;EAuCtB,iBAAiB;EACjB,QAAQ;EACR,MAAM;EACN,WA1CsB;EAsBtB,YAtBsB;EAuBtB,kBAAkB;EAClB,WAxBsB;AFmD1B;;ACdQ;EACI,YAAY;EACZ,aAAa;EACb,uBAAuB;EACvB,gBAAgB;EAChB,SAAS;EACT,UAAU;ECrBlB,YDuByC;ECtBzC,kBAAkB;EAClB,WDqB+C;ADkBnD;;AC1BS;EAWO,8BAA8B;EAC9B,eAAe;EACf,WAAW;EACX,aAAa;EACb,UAAU;EACV,6CC9DwB;EA0BpC,cAAc;EACd,WDqCyC;ADmB7C;;ACrCS;EAsBW,yBC9DY;AFiFhC","file":"gallery-frontend.css","sourcesContent":["@charset \"UTF-8\";\n.bpf-content--format-gallery {\n  position: relative;\n}\n\n.bpf-content__gallery-image {\n  opacity: 0;\n  transition: opacity 1s ease-in-out;\n  display: block;\n  width: 100%;\n}\n\n.bpf-content__gallery-image:not(:first-child) {\n  left: 0;\n  object-fit: cover;\n  top: 0;\n  height: 100%;\n  position: absolute;\n  width: 100%;\n}\n\n.bpf-content__gallery-image.active {\n  opacity: 1;\n}\n\n.bpf-content__gallery-prev, .bpf-content__gallery-next {\n  cursor: pointer;\n  font-size: 40px;\n  text-align: center;\n  top: 50%;\n  transform: translateY(-50%);\n  transition: color 0.3s ease-in-out;\n  height: 40px;\n  position: absolute;\n  width: 40px;\n}\n\n.bpf-content__gallery-prev:hover, .bpf-content__gallery-next:hover {\n  color: #808080;\n}\n\n.bpf-content__gallery-prev {\n  left: 0;\n}\n\n.bpf-content__gallery-prev:after {\n  content: \"\";\n  font-family: dashicons;\n  font-size: 40px;\n  font-weight: 400;\n  height: 40px;\n  line-height: 100%;\n  right: 0;\n  top: 0;\n  width: 40px;\n  height: 40px;\n  position: absolute;\n  width: 40px;\n}\n\n.bpf-content__gallery-next {\n  right: 0;\n}\n\n.bpf-content__gallery-next:after {\n  content: \"\";\n  font-family: dashicons;\n  font-size: 40px;\n  font-weight: 400;\n  height: 40px;\n  line-height: 100%;\n  right: 0;\n  top: 0;\n  width: 40px;\n  height: 40px;\n  position: absolute;\n  width: 40px;\n}\n\n.bpf-content__gallery-pagination {\n  bottom: 20px;\n  display: flex;\n  justify-content: center;\n  list-style: none;\n  margin: 0;\n  padding: 0;\n  height: auto;\n  position: absolute;\n  width: 100%;\n}\n\n.bpf-content__gallery-pagination li {\n  background-color: currentColor;\n  cursor: pointer;\n  height: 5px;\n  margin: 0 5px;\n  padding: 0;\n  transition: background-color 0.3s ease-in-out;\n  display: block;\n  width: 40px;\n}\n\n.bpf-content__gallery-pagination li:hover, .bpf-content__gallery-pagination li.active {\n  background-color: #808080;\n}\n","// import mixins and variables\r\n@import '../../common/assets/common.scss';\r\n\r\n.bpf-content {\r\n    &--format-gallery {\r\n        position: relative;\r\n    }\r\n\r\n    &__gallery {\r\n        &-image {\r\n            opacity: 0;\r\n            transition: $frontend-opacity-transition;\r\n\r\n            @include bpfDisplayBlock();\r\n\r\n            &:not(:first-child) {\r\n                left: 0;\r\n                object-fit: cover;\r\n                top: 0;\r\n\r\n                @include bpfPositionAbsolute(100%, 100%);\r\n            }\r\n\r\n            &.active {\r\n                opacity: 1;\r\n            }\r\n        }\r\n\r\n        &-navigation {\r\n        }\r\n\r\n        &-prev,\r\n        &-next {\r\n            cursor: pointer;\r\n            font-size: $frontend-arrow-size;\r\n            text-align: center;\r\n            top: 50%;\r\n            transform: translateY(-50%);\r\n            transition: $frontend-color-transition;\r\n\r\n            @include bpfPositionAbsolute($frontend-arrow-size, $frontend-arrow-size);\r\n\r\n            &:hover {\r\n                color: $frontend-color--medium;\r\n            }\r\n        }\r\n\r\n        &-prev {\r\n            left: 0;\r\n\r\n            &:after {\r\n                @include bpfIcon('\\f341', $frontend-arrow-size);\r\n            }\r\n        }\r\n\r\n        &-next {\r\n            right: 0;\r\n\r\n            &:after {\r\n                @include bpfIcon('\\f345', $frontend-arrow-size);\r\n            }\r\n        }\r\n\r\n        &-pagination {\r\n            bottom: 20px;\r\n            display: flex;\r\n            justify-content: center;\r\n            list-style: none;\r\n            margin: 0;\r\n            padding: 0;\r\n\r\n            @include bpfPositionAbsolute(auto, 100%);\r\n\r\n            li {\r\n                background-color: currentColor;\r\n                cursor: pointer;\r\n                height: 5px;\r\n                margin: 0 5px;\r\n                padding: 0;\r\n                transition: $frontend-background-color-transition;\r\n\r\n                @include bpfDisplayBlock(40px);\r\n\r\n                &:hover,\r\n                &.active {\r\n                    background-color: $frontend-color--medium;\r\n                }\r\n            }\r\n        }\r\n    }\r\n}\r\n\r\n","// backend variables\r\n$backend-transition-timing: 0.15s;\r\n$backend-transition-easing: ease-in-out;\r\n$backend-opacity-transition: opacity $backend-transition-timing $backend-transition-easing;\r\n\r\n$backend-distance: 12px;\r\n$backend-distance--large: $backend-distance;\r\n$backend-distance--small: $backend-distance--large / 2;\r\n\r\n$backend-color--light: #ffffff;\r\n\r\n$backend-icon: 20px;\r\n$backend-icon-inner: $backend-icon - 2;\r\n$backend-icon-offset: 3px;\r\n\r\n// frontend variables\r\n$frontend-transition-timing: 0.3s;\r\n$frontend-transition-easing: ease-in-out;\r\n$frontend-opacity-transition: opacity 1s $frontend-transition-easing; // hardcode timing, for gallery transitions only\r\n$frontend-color-transition: color $frontend-transition-timing $frontend-transition-easing;\r\n$frontend-background-color-transition: background-color $frontend-transition-timing $frontend-transition-easing;\r\n\r\n$frontend-color--light: #ffffff;\r\n$frontend-color--medium: #808080;\r\n$frontend-color--dark: #000000;\r\n\r\n$frontend-arrow-size: 40px;\r\n$frontend-bullet-size: 10px;\r\n$frontend-icon-size: 40px;\r\n$frontend-icon-distance: 1em;\r\n\r\n$frontend-link-quote-distance: 2.5em;\r\n\r\n// mixins\r\n@mixin bpfClearfix() {\r\n    &:after {\r\n        clear: both;\r\n        content: '';\r\n        display: table;\r\n    }\r\n}\r\n\r\n@mixin bpfDisplayBlock($width:100%,$important:null) {\r\n    display: block $important;\r\n    width: $width;\r\n}\r\n\r\n@mixin bpfPositionAbsolute($height,$width) {\r\n    height: $height;\r\n    position: absolute;\r\n    width: $width;\r\n}\r\n\r\n@mixin bpfBackgroundStyle() {\r\n    background-color: rgba($frontend-color--medium, 0.3);\r\n    background-position: center;\r\n    background-size: cover;\r\n}\r\n\r\n@mixin bpfIcon($content,$size) {\r\n    content: $content;\r\n    font-family: dashicons;\r\n    font-size: $size;\r\n    font-weight: 400;\r\n    height: $size;\r\n    line-height: 100%;\r\n    right: 0;\r\n    top: 0;\r\n    width: $size;\r\n\r\n    @include bpfPositionAbsolute($size, $size);\r\n}\r\n\r\n@mixin bpfResetText() {\r\n    border: 0 !important;\r\n    color: inherit !important;\r\n    margin: 0 !important;\r\n    padding: 0 !important;\r\n}\r\n\r\n@mixin bpfClearForeignContent() {\r\n    .bpf-content {\r\n        * {\r\n            &:not([class*=\"bpf-content\"]) {\r\n                display: none;\r\n            }\r\n        }\r\n    }\r\n}"]}
@charset "UTF-8";
.bpf-content--format-gallery {
  position: relative;
}

.bpf-content__gallery-image {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  display: block;
  width: 100%;
}

.bpf-content__gallery-image:not(:first-child) {
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  top: 0;
  height: 100%;
  position: absolute;
  width: 100%;
}

.bpf-content__gallery-image.active {
  opacity: 1;
}

.bpf-content__gallery-prev, .bpf-content__gallery-next {
  cursor: pointer;
  font-size: 40px;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  transition: color 0.3s ease-in-out;
  height: 40px;
  position: absolute;
  width: 40px;
}

.bpf-content__gallery-prev:hover, .bpf-content__gallery-next:hover {
  color: #808080;
}

.bpf-content__gallery-prev {
  left: 0;
}

.bpf-content__gallery-prev:after {
  content: "";
  font-family: dashicons;
  font-size: 40px;
  font-weight: 400;
  height: 40px;
  line-height: 100%;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  position: absolute;
  width: 40px;
}

.bpf-content__gallery-next {
  right: 0;
}

.bpf-content__gallery-next:after {
  content: "";
  font-family: dashicons;
  font-size: 40px;
  font-weight: 400;
  height: 40px;
  line-height: 100%;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  position: absolute;
  width: 40px;
}

.bpf-content__gallery-pagination {
  bottom: 20px;
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  height: auto;
  position: absolute;
  width: 100%;
}

.bpf-content__gallery-pagination li {
  background-color: currentColor;
  cursor: pointer;
  height: 5px;
  margin: 0 5px;
  padding: 0;
  transition: background-color 0.3s ease-in-out;
  display: block;
  width: 40px;
}

.bpf-content__gallery-pagination li:hover, .bpf-content__gallery-pagination li.active {
  background-color: #808080;
}

/*# sourceMappingURL=gallery-frontend.css.map */

{"version":3,"sources":["components/link/assets/link-frontend.css","components/link/assets/link-frontend.scss","components/common/assets/_common.scss"],"names":[],"mappings":"AAAA,gBAAgB;ACIZ;ECkDA,0CA/B4B;EAgC5B,2BAA2B;EAC3B,sBAAsB;AFnD1B;;ACDK;EAKW,+CAAgK;ADAhL;;ACLK;ECwDD,YD9CiC;EC+CjC,sBAAsB;EACtB,eAlCqB;EAmCrB,gBAAgB;EAChB,YApCqB;EAqCrB,iBAAiB;EACjB,QAAQ;EACR,MAAM;EACN,WAxCqB;EAoBrB,YApBqB;EAqBrB,kBAAkB;EAClB,WAtBqB;AFJzB;;ACJK;EAGW,yBAAyC;ADKzD;;ACAI;EACI,yBAAyB;EACzB,kCCbgC;AFgBxC;;ACLK;EAKO,yBAAyC;ADIrD;;ACAI;ECqCA,oBAAoB;EACpB,yBAAyB;EACzB,oBAAoB;EACpB,qBAAqB;EDrCjB,kCCvBgC;AF4BxC","file":"link-frontend.css","sourcesContent":["@charset \"UTF-8\";\n.bpf-content--format-link {\n  background-color: rgba(128, 128, 128, 0.3);\n  background-position: center;\n  background-size: cover;\n}\n\n.bpf-content--format-link .bpf-content__grid {\n  padding: 2.5em 2.5em 2.5em calc(1em * 2 + 40px);\n}\n\n.bpf-content--format-link .bpf-content__icon:after {\n  content: \"\";\n  font-family: dashicons;\n  font-size: 40px;\n  font-weight: 400;\n  height: 40px;\n  line-height: 100%;\n  right: 0;\n  top: 0;\n  width: 40px;\n  height: 40px;\n  position: absolute;\n  width: 40px;\n}\n\n.bpf-content__permalink:hover ~ .bpf-content__title {\n  color: #808080 !important;\n}\n\n.bpf-content__link {\n  color: inherit !important;\n  transition: color 0.3s ease-in-out;\n}\n\n.bpf-content__link:hover {\n  color: #808080 !important;\n}\n\n.bpf-content__title {\n  border: 0 !important;\n  color: inherit !important;\n  margin: 0 !important;\n  padding: 0 !important;\n  transition: color 0.3s ease-in-out;\n}\n","// import mixins and variables\r\n@import '../../common/assets/_common.scss';\r\n\r\n.bpf-content {\r\n    &--format-link {\r\n        @include bpfBackgroundStyle();\r\n\r\n        .bpf-content {\r\n            &__grid {\r\n                padding: $frontend-link-quote-distance $frontend-link-quote-distance $frontend-link-quote-distance calc(#{$frontend-icon-distance} * 2 + #{$frontend-icon-size});\r\n            }\r\n\r\n            &__icon {\r\n                &:after {\r\n                    @include bpfIcon('\\f103', $frontend-icon-size);\r\n                }\r\n            }\r\n        }\r\n    }\r\n\r\n    &__permalink {\r\n        &:hover {\r\n            ~ .bpf-content__title {\r\n                color: $frontend-color--medium !important;\r\n            }\r\n        }\r\n    }\r\n\r\n    &__link {\r\n        color: inherit !important;\r\n        transition: $frontend-color-transition;\r\n\r\n        &:hover {\r\n            color: $frontend-color--medium !important;\r\n        }\r\n    }\r\n\r\n    &__title {\r\n        @include bpfResetText();\r\n\r\n        transition: $frontend-color-transition;\r\n    }\r\n}","// backend variables\r\n$backend-transition-timing: 0.15s;\r\n$backend-transition-easing: ease-in-out;\r\n$backend-opacity-transition: opacity $backend-transition-timing $backend-transition-easing;\r\n\r\n$backend-distance: 12px;\r\n$backend-distance--large: $backend-distance;\r\n$backend-distance--small: $backend-distance--large / 2;\r\n\r\n$backend-color--light: #ffffff;\r\n\r\n$backend-icon: 20px;\r\n$backend-icon-inner: $backend-icon - 2;\r\n$backend-icon-offset: 3px;\r\n\r\n// frontend variables\r\n$frontend-transition-timing: 0.3s;\r\n$frontend-transition-easing: ease-in-out;\r\n$frontend-opacity-transition: opacity 1s $frontend-transition-easing; // hardcode timing, for gallery transitions only\r\n$frontend-color-transition: color $frontend-transition-timing $frontend-transition-easing;\r\n$frontend-background-color-transition: background-color $frontend-transition-timing $frontend-transition-easing;\r\n\r\n$frontend-color--light: #ffffff;\r\n$frontend-color--medium: #808080;\r\n$frontend-color--dark: #000000;\r\n\r\n$frontend-arrow-size: 40px;\r\n$frontend-bullet-size: 10px;\r\n$frontend-icon-size: 40px;\r\n$frontend-icon-distance: 1em;\r\n\r\n$frontend-link-quote-distance: 2.5em;\r\n\r\n// mixins\r\n@mixin bpfClearfix() {\r\n    &:after {\r\n        clear: both;\r\n        content: '';\r\n        display: table;\r\n    }\r\n}\r\n\r\n@mixin bpfDisplayBlock($width:100%,$important:null) {\r\n    display: block $important;\r\n    width: $width;\r\n}\r\n\r\n@mixin bpfPositionAbsolute($height,$width) {\r\n    height: $height;\r\n    position: absolute;\r\n    width: $width;\r\n}\r\n\r\n@mixin bpfBackgroundStyle() {\r\n    background-color: rgba($frontend-color--medium, 0.3);\r\n    background-position: center;\r\n    background-size: cover;\r\n}\r\n\r\n@mixin bpfIcon($content,$size) {\r\n    content: $content;\r\n    font-family: dashicons;\r\n    font-size: $size;\r\n    font-weight: 400;\r\n    height: $size;\r\n    line-height: 100%;\r\n    right: 0;\r\n    top: 0;\r\n    width: $size;\r\n\r\n    @include bpfPositionAbsolute($size, $size);\r\n}\r\n\r\n@mixin bpfResetText() {\r\n    border: 0 !important;\r\n    color: inherit !important;\r\n    margin: 0 !important;\r\n    padding: 0 !important;\r\n}\r\n\r\n@mixin bpfClearForeignContent() {\r\n    .bpf-content {\r\n        * {\r\n            &:not([class*=\"bpf-content\"]) {\r\n                display: none;\r\n            }\r\n        }\r\n    }\r\n}"]}
@charset "UTF-8";
.bpf-content--format-link {
  background-color: rgba(128, 128, 128, 0.3);
  background-position: center;
  background-size: cover;
}

.bpf-content--format-link .bpf-content__grid {
  padding: 2.5em 2.5em 2.5em calc(1em * 2 + 40px);
}

.bpf-content--format-link .bpf-content__icon:after {
  content: "";
  font-family: dashicons;
  font-size: 40px;
  font-weight: 400;
  height: 40px;
  line-height: 100%;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  position: absolute;
  width: 40px;
}

.bpf-content__permalink:hover ~ .bpf-content__title {
  color: #808080 !important;
}

.bpf-content__link {
  color: inherit !important;
  transition: color 0.3s ease-in-out;
}

.bpf-content__link:hover {
  color: #808080 !important;
}

.bpf-content__title {
  border: 0 !important;
  color: inherit !important;
  margin: 0 !important;
  padding: 0 !important;
  transition: color 0.3s ease-in-out;
}

/*# sourceMappingURL=link-frontend.css.map */

{"version":3,"sources":["components/quote/assets/quote-frontend.css","components/quote/assets/quote-frontend.scss","components/common/assets/_common.scss"],"names":[],"mappings":"AAAA,gBAAgB;ACIZ;ECkDA,0CA/B4B;EAgC5B,2BAA2B;EAC3B,sBAAsB;AFnD1B;;ACDK;EAKW,+CAAgK;ADAhL;;ACLK;ECwDD,YD9CiC;EC+CjC,sBAAsB;EACtB,eAlCqB;EAmCrB,gBAAgB;EAChB,YApCqB;EAqCrB,iBAAiB;EACjB,QAAQ;EACR,MAAM;EACN,WAxCqB;EAoBrB,YApBqB;EAqBrB,kBAAkB;EAClB,WAtBqB;AFJzB;;ACJK;EAGW,yBAAyC;ADKzD;;ACAI;EC8CA,oBAAoB;EACpB,yBAAyB;EACzB,oBAAoB;EACpB,qBAAqB;ED9CjB,kCCdgC;AFmBxC;;ACHQ;ECyCJ,oBAAoB;EACpB,yBAAyB;EACzB,oBAAoB;EACpB,qBAAqB;AFlCzB;;ACNQ;ECqCJ,oBAAoB;EACpB,yBAAyB;EACzB,oBAAoB;EACpB,qBAAqB;AF3BzB","file":"quote-frontend.css","sourcesContent":["@charset \"UTF-8\";\n.bpf-content--format-quote {\n  background-color: rgba(128, 128, 128, 0.3);\n  background-position: center;\n  background-size: cover;\n}\n\n.bpf-content--format-quote .bpf-content__grid {\n  padding: 2.5em 2.5em 2.5em calc(1em * 2 + 40px);\n}\n\n.bpf-content--format-quote .bpf-content__icon:after {\n  content: \"\";\n  font-family: dashicons;\n  font-size: 40px;\n  font-weight: 400;\n  height: 40px;\n  line-height: 100%;\n  right: 0;\n  top: 0;\n  width: 40px;\n  height: 40px;\n  position: absolute;\n  width: 40px;\n}\n\n.bpf-content__permalink:hover ~ .bpf-content__quote {\n  color: #808080 !important;\n}\n\n.bpf-content__quote {\n  border: 0 !important;\n  color: inherit !important;\n  margin: 0 !important;\n  padding: 0 !important;\n  transition: color 0.3s ease-in-out;\n}\n\n.bpf-content__quote-text {\n  border: 0 !important;\n  color: inherit !important;\n  margin: 0 !important;\n  padding: 0 !important;\n}\n\n.bpf-content__quote-author {\n  border: 0 !important;\n  color: inherit !important;\n  margin: 0 !important;\n  padding: 0 !important;\n}\n","// import mixins and variables\r\n@import '../../common/assets/_common.scss';\r\n\r\n.bpf-content {\r\n    &--format-quote {\r\n        @include bpfBackgroundStyle();\r\n\r\n        .bpf-content {\r\n            &__grid {\r\n                padding: $frontend-link-quote-distance $frontend-link-quote-distance $frontend-link-quote-distance calc(#{$frontend-icon-distance} * 2 + #{$frontend-icon-size});\r\n            }\r\n\r\n            &__icon {\r\n                &:after {\r\n                    @include bpfIcon('\\f122', $frontend-icon-size);\r\n                }\r\n            }\r\n        }\r\n    }\r\n\r\n    &__permalink {\r\n        &:hover {\r\n            ~ .bpf-content__quote {\r\n                color: $frontend-color--medium !important;\r\n            }\r\n        }\r\n    }\r\n\r\n    &__quote {\r\n        @include bpfResetText();\r\n\r\n        transition: $frontend-color-transition;\r\n\r\n        &-text {\r\n            @include bpfResetText();\r\n        }\r\n\r\n        &-author {\r\n            @include bpfResetText();\r\n        }\r\n    }\r\n}","// backend variables\r\n$backend-transition-timing: 0.15s;\r\n$backend-transition-easing: ease-in-out;\r\n$backend-opacity-transition: opacity $backend-transition-timing $backend-transition-easing;\r\n\r\n$backend-distance: 12px;\r\n$backend-distance--large: $backend-distance;\r\n$backend-distance--small: $backend-distance--large / 2;\r\n\r\n$backend-color--light: #ffffff;\r\n\r\n$backend-icon: 20px;\r\n$backend-icon-inner: $backend-icon - 2;\r\n$backend-icon-offset: 3px;\r\n\r\n// frontend variables\r\n$frontend-transition-timing: 0.3s;\r\n$frontend-transition-easing: ease-in-out;\r\n$frontend-opacity-transition: opacity 1s $frontend-transition-easing; // hardcode timing, for gallery transitions only\r\n$frontend-color-transition: color $frontend-transition-timing $frontend-transition-easing;\r\n$frontend-background-color-transition: background-color $frontend-transition-timing $frontend-transition-easing;\r\n\r\n$frontend-color--light: #ffffff;\r\n$frontend-color--medium: #808080;\r\n$frontend-color--dark: #000000;\r\n\r\n$frontend-arrow-size: 40px;\r\n$frontend-bullet-size: 10px;\r\n$frontend-icon-size: 40px;\r\n$frontend-icon-distance: 1em;\r\n\r\n$frontend-link-quote-distance: 2.5em;\r\n\r\n// mixins\r\n@mixin bpfClearfix() {\r\n    &:after {\r\n        clear: both;\r\n        content: '';\r\n        display: table;\r\n    }\r\n}\r\n\r\n@mixin bpfDisplayBlock($width:100%,$important:null) {\r\n    display: block $important;\r\n    width: $width;\r\n}\r\n\r\n@mixin bpfPositionAbsolute($height,$width) {\r\n    height: $height;\r\n    position: absolute;\r\n    width: $width;\r\n}\r\n\r\n@mixin bpfBackgroundStyle() {\r\n    background-color: rgba($frontend-color--medium, 0.3);\r\n    background-position: center;\r\n    background-size: cover;\r\n}\r\n\r\n@mixin bpfIcon($content,$size) {\r\n    content: $content;\r\n    font-family: dashicons;\r\n    font-size: $size;\r\n    font-weight: 400;\r\n    height: $size;\r\n    line-height: 100%;\r\n    right: 0;\r\n    top: 0;\r\n    width: $size;\r\n\r\n    @include bpfPositionAbsolute($size, $size);\r\n}\r\n\r\n@mixin bpfResetText() {\r\n    border: 0 !important;\r\n    color: inherit !important;\r\n    margin: 0 !important;\r\n    padding: 0 !important;\r\n}\r\n\r\n@mixin bpfClearForeignContent() {\r\n    .bpf-content {\r\n        * {\r\n            &:not([class*=\"bpf-content\"]) {\r\n                display: none;\r\n            }\r\n        }\r\n    }\r\n}"]}
@charset "UTF-8";
.bpf-content--format-quote {
  background-color: rgba(128, 128, 128, 0.3);
  background-position: center;
  background-size: cover;
}

.bpf-content--format-quote .bpf-content__grid {
  padding: 2.5em 2.5em 2.5em calc(1em * 2 + 40px);
}

.bpf-content--format-quote .bpf-content__icon:after {
  content: "";
  font-family: dashicons;
  font-size: 40px;
  font-weight: 400;
  height: 40px;
  line-height: 100%;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  position: absolute;
  width: 40px;
}

.bpf-content__permalink:hover ~ .bpf-content__quote {
  color: #808080 !important;
}

.bpf-content__quote {
  border: 0 !important;
  color: inherit !important;
  margin: 0 !important;
  padding: 0 !important;
  transition: color 0.3s ease-in-out;
}

.bpf-content__quote-text {
  border: 0 !important;
  color: inherit !important;
  margin: 0 !important;
  padding: 0 !important;
}

.bpf-content__quote-author {
  border: 0 !important;
  color: inherit !important;
  margin: 0 !important;
  padding: 0 !important;
}

/*# sourceMappingURL=quote-frontend.css.map */

{"version":3,"sources":["components/video/assets/video-frontend.scss","components/common/assets/_common.scss","components/video/assets/video-frontend.css"],"names":[],"mappings":"AAIK;ECuCD,cAAc;EACd,WAF8B;ACvClC","file":"video-frontend.css","sourcesContent":["// import mixins and variables\r\n@import '../../common/assets/_common.scss';\r\n\r\n.bpf-content {\r\n    &--format-video {\r\n        video {\r\n            @include bpfDisplayBlock();\r\n        }\r\n    }\r\n}","// backend variables\r\n$backend-transition-timing: 0.15s;\r\n$backend-transition-easing: ease-in-out;\r\n$backend-opacity-transition: opacity $backend-transition-timing $backend-transition-easing;\r\n\r\n$backend-distance: 12px;\r\n$backend-distance--large: $backend-distance;\r\n$backend-distance--small: $backend-distance--large / 2;\r\n\r\n$backend-color--light: #ffffff;\r\n\r\n$backend-icon: 20px;\r\n$backend-icon-inner: $backend-icon - 2;\r\n$backend-icon-offset: 3px;\r\n\r\n// frontend variables\r\n$frontend-transition-timing: 0.3s;\r\n$frontend-transition-easing: ease-in-out;\r\n$frontend-opacity-transition: opacity 1s $frontend-transition-easing; // hardcode timing, for gallery transitions only\r\n$frontend-color-transition: color $frontend-transition-timing $frontend-transition-easing;\r\n$frontend-background-color-transition: background-color $frontend-transition-timing $frontend-transition-easing;\r\n\r\n$frontend-color--light: #ffffff;\r\n$frontend-color--medium: #808080;\r\n$frontend-color--dark: #000000;\r\n\r\n$frontend-arrow-size: 40px;\r\n$frontend-bullet-size: 10px;\r\n$frontend-icon-size: 40px;\r\n$frontend-icon-distance: 1em;\r\n\r\n$frontend-link-quote-distance: 2.5em;\r\n\r\n// mixins\r\n@mixin bpfClearfix() {\r\n    &:after {\r\n        clear: both;\r\n        content: '';\r\n        display: table;\r\n    }\r\n}\r\n\r\n@mixin bpfDisplayBlock($width:100%,$important:null) {\r\n    display: block $important;\r\n    width: $width;\r\n}\r\n\r\n@mixin bpfPositionAbsolute($height,$width) {\r\n    height: $height;\r\n    position: absolute;\r\n    width: $width;\r\n}\r\n\r\n@mixin bpfBackgroundStyle() {\r\n    background-color: rgba($frontend-color--medium, 0.3);\r\n    background-position: center;\r\n    background-size: cover;\r\n}\r\n\r\n@mixin bpfIcon($content,$size) {\r\n    content: $content;\r\n    font-family: dashicons;\r\n    font-size: $size;\r\n    font-weight: 400;\r\n    height: $size;\r\n    line-height: 100%;\r\n    right: 0;\r\n    top: 0;\r\n    width: $size;\r\n\r\n    @include bpfPositionAbsolute($size, $size);\r\n}\r\n\r\n@mixin bpfResetText() {\r\n    border: 0 !important;\r\n    color: inherit !important;\r\n    margin: 0 !important;\r\n    padding: 0 !important;\r\n}\r\n\r\n@mixin bpfClearForeignContent() {\r\n    .bpf-content {\r\n        * {\r\n            &:not([class*=\"bpf-content\"]) {\r\n                display: none;\r\n            }\r\n        }\r\n    }\r\n}",".bpf-content--format-video video {\n  display: block;\n  width: 100%;\n}\n"]}
.bpf-content--format-video video {
  display: block;
  width: 100%;
}

/*# sourceMappingURL=video-frontend.css.map */

.bpf-content--format-audio audio {
  display: block;
  width: 100%;
}

.bpf-content--format-audio .bpf-content__image {
  display: block;
  width: 100%;
}

/*# sourceMappingURL=audio-frontend.css.map */

.bpf-hide-default-title .entry-title {
  display: none;
}

body.bpf-clear-foreign-content .bpf-content *:not([class*="bpf-content"]) {
  display: none;
}

body.bpf-clear-foreign-content .bpf-content iframe {
  display: block !important;
}

.bpf-content {
  position: relative;
}

.bpf-content--light {
  color: #ffffff;
}

.bpf-content--dark {
  color: #000000;
}

.bpf-content iframe {
  display: block;
  width: 100%;
  margin: 0;
  background-color: #000000;
}

.bpf-content__grid {
  margin: 0 auto;
  max-width: 100%;
  position: relative;
}

.bpf-content__permalink {
  height: 100%;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10;
}

.bpf-content__title {
  border: 0 !important;
  color: inherit !important;
  margin: 0 !important;
  padding: 0 !important;
}

.bpf-content__icon {
  height: 40px;
  position: absolute;
  width: 40px;
  left: 1em;
  text-align: center;
  top: 2.5em;
  z-index: 20;
}

.bpf-content__icon:after {
  display: block;
  width: 40px;
}

/*# sourceMappingURL=common-frontend.css.map */

@charset "UTF-8";
.bpf-content--format-gallery {
  position: relative;
}

.bpf-content__gallery-image {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  display: block;
  width: 100%;
}

.bpf-content__gallery-image:not(:first-child) {
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  top: 0;
  height: 100%;
  position: absolute;
  width: 100%;
}

.bpf-content__gallery-image.active {
  opacity: 1;
}

.bpf-content__gallery-prev, .bpf-content__gallery-next {
  cursor: pointer;
  font-size: 40px;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  transition: color 0.3s ease-in-out;
  height: 40px;
  position: absolute;
  width: 40px;
}

.bpf-content__gallery-prev:hover, .bpf-content__gallery-next:hover {
  color: #808080;
}

.bpf-content__gallery-prev {
  left: 0;
}

.bpf-content__gallery-prev:after {
  content: "";
  font-family: dashicons;
  font-size: 40px;
  font-weight: 400;
  height: 40px;
  line-height: 100%;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  position: absolute;
  width: 40px;
}

.bpf-content__gallery-next {
  right: 0;
}

.bpf-content__gallery-next:after {
  content: "";
  font-family: dashicons;
  font-size: 40px;
  font-weight: 400;
  height: 40px;
  line-height: 100%;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  position: absolute;
  width: 40px;
}

.bpf-content__gallery-pagination {
  bottom: 20px;
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  height: auto;
  position: absolute;
  width: 100%;
}

.bpf-content__gallery-pagination li {
  background-color: currentColor;
  cursor: pointer;
  height: 5px;
  margin: 0 5px;
  padding: 0;
  transition: background-color 0.3s ease-in-out;
  display: block;
  width: 40px;
}

.bpf-content__gallery-pagination li:hover, .bpf-content__gallery-pagination li.active {
  background-color: #808080;
}

/*# sourceMappingURL=gallery-frontend.css.map */

@charset "UTF-8";
.bpf-content--format-link {
  background-color: rgba(128, 128, 128, 0.3);
  background-position: center;
  background-size: cover;
}

.bpf-content--format-link .bpf-content__grid {
  padding: 2.5em 2.5em 2.5em calc(1em * 2 + 40px);
}

.bpf-content--format-link .bpf-content__icon:after {
  content: "";
  font-family: dashicons;
  font-size: 40px;
  font-weight: 400;
  height: 40px;
  line-height: 100%;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  position: absolute;
  width: 40px;
}

.bpf-content__permalink:hover ~ .bpf-content__title {
  color: #808080 !important;
}

.bpf-content__link {
  color: inherit !important;
  transition: color 0.3s ease-in-out;
}

.bpf-content__link:hover {
  color: #808080 !important;
}

.bpf-content__title {
  border: 0 !important;
  color: inherit !important;
  margin: 0 !important;
  padding: 0 !important;
  transition: color 0.3s ease-in-out;
}

/*# sourceMappingURL=link-frontend.css.map */

@charset "UTF-8";
.bpf-content--format-quote {
  background-color: rgba(128, 128, 128, 0.3);
  background-position: center;
  background-size: cover;
}

.bpf-content--format-quote .bpf-content__grid {
  padding: 2.5em 2.5em 2.5em calc(1em * 2 + 40px);
}

.bpf-content--format-quote .bpf-content__icon:after {
  content: "";
  font-family: dashicons;
  font-size: 40px;
  font-weight: 400;
  height: 40px;
  line-height: 100%;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  position: absolute;
  width: 40px;
}

.bpf-content__permalink:hover ~ .bpf-content__quote {
  color: #808080 !important;
}

.bpf-content__quote {
  border: 0 !important;
  color: inherit !important;
  margin: 0 !important;
  padding: 0 !important;
  transition: color 0.3s ease-in-out;
}

.bpf-content__quote-text {
  border: 0 !important;
  color: inherit !important;
  margin: 0 !important;
  padding: 0 !important;
}

.bpf-content__quote-author {
  border: 0 !important;
  color: inherit !important;
  margin: 0 !important;
  padding: 0 !important;
}

/*# sourceMappingURL=quote-frontend.css.map */

.bpf-content--format-video video {
  display: block;
  width: 100%;
}

/*# sourceMappingURL=video-frontend.css.map */

/*# sourceMappingURL=frontend.css.map */
