// import mixins and variables
@import '../../common/assets/common.scss';

.upf-hide-default-title {
    .entry-title {
        display: none;
    }
}

.upf-content {
    position: relative;

    &--light {
        color: $frontend-color--light;
    }

    &--dark {
        color: $frontend-color--dark;
    }

    iframe {
        @include upfDisplayBlock();

        margin: 0;
    }

    &__permalink {
        cursor: pointer;
        left: 0;
        top: 0;

        @include upfPositionAbsolute(100%, 100%);
    }

    &__title {
        color: inherit;
        margin: 0;
    }
}