// import mixins and variables
@import '../../common/assets/_common.scss';

// upf control
.upf-control {
    margin: $backend-distance--large 0 0 0;

    &__text,
    &__textarea {
        margin: 0 0 $backend-distance--large 0;
    }

    &__label {
        margin: 0 0 $backend-distance--small 0;

        @include upfDisplayBlock();
    }

    &__text,
    &__textarea,
    &__select {
        &-field {
            margin: 0;
            width: 100%;
        }
    }
}

// select fix for gutenberg
.block-editor__container {
    .upf-control__select-field {
        width: calc(100% - 6px); // reduce width for padding and border, can't use box sizing
    }
}

// post list
.wp-list-table.posts {
    .row-title {
        &:before {
            color: currentColor;
            display: inline-block;
            font-family: dashicons;
            font-size: 20px;
            font-weight: 400;
            height: 20px;
            line-height: 1em;
            margin-right: 7px;
            opacity: 0.3;
            position: relative;
            top: 4px;
            width: 20px;
        }
    }

    .format {
        &-audio {
            .row-title {
                &:before {
                    content: '\f127';
                }
            }
        }

        &-gallery {
            .row-title {
                &:before {
                    content: '\f161';
                }
            }
        }

        &-link {
            .row-title {
                &:before {
                    content: '\f103';
                }
            }
        }

        &-quote {
            .row-title {
                &:before {
                    content: '\f122';
                }
            }
        }

        &-video {
            .row-title {
                &:before {
                    content: '\f126';
                }
            }
        }
    }
}