// import mixins and variables
@import '../../common/assets/_common.scss';

.upf-content {
    &--format-quote {
        @include upfBackgroundStyle();

        padding: $frontend-link-quote-distance $frontend-link-quote-distance $frontend-link-quote-distance calc(#{$frontend-icon-distance} * 2 + #{$frontend-icon-size});

        .upf-content__icon {
            &:after {
                @include upfIcon('\f122', $frontend-icon-size);
            }
        }
    }

    &__permalink {
        &:hover {
            ~ .upf-content__quote {
                color: $frontend-color--medium !important;
            }
        }
    }

    &__quote {
        @include upfResetText();

        transition: $frontend-color-transition;

        &-text {
            @include upfResetText();
        }

        &-author {
            @include upfResetText();
        }
    }
}